@import './variables'

.container  
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column

.title
    font-size: 5rem
    margin-bottom: 1.5rem
    text-align: center
    color: $accentColor
    background-clip: text
    width: fit-content
    cursor: pointer
    padding: 0px 25px

.searchAndToggle
    display: flex
    justify-content: space-around
    align-content: center
    gap: 25px
    flex-wrap: wrap
    padding: 0px 25px

.skewed 
    position: absolute
    top: 0
    width: 100%
    height: 315px
    background-color: $darkColor
    z-index: -1
    transform: skewY(1deg)
    transform-origin: top right
    
.wrapper
    padding-top: 7rem
    padding-bottom: 2.5rem
    display: flex
    align-content: center
    justify-content: center
    flex-wrap: wrap

.pagination
    display: flex
    justify-content: center
    align-content: center
    margin-bottom: 20px
    gap: 20px
    p
        font-size: 1.5rem
        font-family: $serifFont
        cursor: pointer
    .number
        &:first-child
            margin-left: 20px
        &:last-child
            margin-right: 20px
    .clickable
        color: $accentColor
        &:hover
            text-decoration: underline
    .unClickable
        color: $darkColor
        text-decoration: none
        font-weight: bold
        font-size: 2rem
        margin-top: 14px
        box-shadow: 0px 15px 12px -5px rgba(0, 0, 0, 0.5)
        padding: 5px 15px
        background-color: $primaryColor
        border-radius: 10px
    .invisible
        opacity: 0.3
        cursor: unset

.noResults
    padding: 5rem 25px 3.3rem 25px
    background-color: $darkColor
    text-align: center
    color: $accentColor
    h2
        font-size: 1.8rem

@media only screen and (max-width: 754px)

    .pagination
        display: none

    .title
        font-size: 4rem
        margin-top: 2rem
        line-height: 4rem

    .wrapper
        padding-top: 4rem
        padding-bottom: 1.5rem

    .noResults
        padding-top: 2rem
        padding-bottom: 1rem
        
    .skewed
        height: 220px

@media only screen and (max-width: 699px) 

    .skewed
        height: 275px

@media only screen and (max-width: 613px) 

    .skewed
        height: 340px
