@import './variables'
    
.button
    display: flex
    justify-content: space-around
    align-content: center
    border-radius: 10px
    flex: 1
    background: none
    border: 2px solid white
    color: white
    cursor: pointer
    fill: white
    font-weight: bold

.buttonActive
    display: flex
    justify-content: space-around
    align-content: center
    border-radius: 10px
    flex: 1
    background: white
    border: 2px solid $accentColor
    color: $accentColor
    cursor: pointer
    fill: $accentColor
    font-weight: bold

.button p, .buttonActive p 
    padding: 0 5px

.buttonIcon
    align-self: center
    margin-top: 2.5px
    width: 23px
    height: 23px

@media only screen and (max-width: 720px)

    .button, .buttonActive
        flex: 0 1 auto